---
title: 類別
layout: default
---

<section class="intro">
 <div class="flex-row-between">
 <h1>類別</h1>
    <button id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
    </button>
  </div>
<p>以類別分類的文章。</p>
</section>
<div class="flex-row-between">
<a href="{{site.url}}/">« 返回</a>
<a href="https://shazstar.github.io">首頁</a>
<a href="https://shazstar.github.io/blog">英文Blog</a>
<a href="{{ site.url }}/tags">標籤</a>
<a href="{{ site.url }}/feed.xml">RSS</a>
<a href="{{ site.url }}/about">關於</a>
</div>

<section class="posts">
  {% for tag in site.categories %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
    <li>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
{% endfor %}
  </ul>
</section>